---

import { siteConfig } from "../config/site-config";
import MainLayout from "../layouts/MainLayout.astro";
import BlogPost from "./components/BlogPost.astro";

const posts= await Astro.glob('./posts-old/*.{md,mdx}');

// console.log(posts);	
// const posts_ =[
// 	{title:"How to use sticky note for problem solving",
// 	date:"20 October 2019",
// 	image:"https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
// },{
// 	title:"How to use sticky note for problem solving",
// 	date:"20 October 2019",
// 	image:"https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
// },
// {
// 	title:"Morning routine to boost your mood",
// 	date:"25 November 2020",
// 	image:"https://images.unsplash.com/photo-1544654803-b69140b285a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
// },{
// 	title:"All the features you want to know",
// 	date:"30 September 2020",
// 	image:"https://images.unsplash.com/photo-1530099486328-e021101a494a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1547&q=80"
// },
// {
// 	title:"Minimal workspace for your inspirations",
// 	date:"13 October 2019",
// 	image:"https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1484&q=80"
// },
// {
// 	title:"What do you want to know about Blockchane",
// 	date:"20 October 2019",
// 	image:"https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
// }
// ]
---
<MainLayout title={siteConfig.title}>
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{siteConfig.description}</h1>
        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
			{posts.map((post)=><BlogPost {...post}/>) }    
        </div>
    </div>
</section>
</MainLayout>